<a href="https://colab.research.google.com/github/Shriyansh1/Shooting-range-1/blob/main/Project106.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sequential Data Type

In [28]:
l1=[20,22,24,26,28,30,34,39,50,10000000000000000000000000000000000000000000000000]
print(l1[1:4])
print(l1[4:7])
print(l1[4:])
print(l1[0:11:2])
l1[2]=42
print(l1)

[22, 24, 26]
[28, 30, 34]
[28, 30, 34, 39, 50, 10000000000000000000000000000000000000000000000000]
[20, 24, 28, 34, 50]
[20, 22, 42, 26, 28, 30, 34, 39, 50, 10000000000000000000000000000000000000000000000000]

In [21]:
l2=[0,1,2,3,4,5,6,7,8,9,10]
l2[::5]
for d in l2:
  print(d,end="hp nova")

0hp nova1hp nova2hp nova3hp nova4hp nova5hp nova6hp nova7hp nova8hp nova9hp nova10hp nova

In [24]:
range(1,10)
print(range(1,11))
for x in range(0,11):
  print(x)

range(1, 11)
0
1
2
3
4
5
6
7
8
9
10

In [25]:
for y in range(0,10000000000000000000000000000,2):
  print(y)

0
2
4
6
8
10

In [26]:
for xyz in range(10,0,-1):
  print(xyz)

10
9
8
7
6
5
4
3
2
1

In [27]:
marks=[33,66,99,100,22,44,66,88,11,33,66,99]
count=0
num=33
for al in marks:
  if(num==al):
    count+=1
print(count)

2

# tuple

In [32]:
t1=(5,2,3,4,5,6,7,8)
t1[::2]

(5, 3, 5, 7)

# Project 106

In [36]:
resultlist=['Maths','90','English','80','History','75','Art','85']
print(resultlist[::2])
print(resultlist[1::2])

['Maths', 'English', 'History', 'Art']
['90', '80', '75', '85']